<!DOCTYPE html>
<html lang="es-CL">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% load static %}
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">  
    <link rel="stylesheet" href="{% static "css/bootstrap.css" %}" type="text/css">
    <link rel="stylesheet" href="{% static "css/estilo.css" %}" type="text/css">
    <title>Tiki</title>
</head>
<body>
    <!-- Navegación -->
    <nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light ">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="{% url "index" %}">
            <i class="far fa-comments fa-lg"></i>
            Tiki
        </a>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item active">
                    <a class="nav-link" href="{% url "index" %}">Inicio<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url "diccionario" %}">Diccionario</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url "frases" %}">Frases</a>
                </li>
                {% if request.user.is_superuser %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url "pendientes" %}">Pendientes <span class="badge badge-danger">{{ contador }}</span></a>
                </li>
                {% endif %}
                {% if usuario is None %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url "registro" %}">Registro</a>
                </li>
                {% endif %}
                {% if usuario is not None %}
                <li class="nav-item" id="credenciales">
                    <a class="nav-link disabled">Bienvenido {{usuario}}</a>
                </li>
                <li class="nav-item" id="credenciales">
                    <a class="nav-link" href="{% url "cerrarSession" %}">Cerrar sesión</a>
                </li>
                {% else %} 
                <li class="nav-item" id="credenciales">
                    <a class="nav-link" href=# data-toggle="modal" data-target="#inicioSesion">Iniciar sesión</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </nav>

    <!-- Carrusel -->
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
            {% for noticia in carrousel %}
                {% if noticia.estado == 'Público' %}
                    {% if forloop.first %}
                        <div class="carousel-item active">
                    {% else %}
                        <div class="carousel-item">
                    {% endif %}
                        <img class="d-block w-100 slider-fix" src="{% get_media_prefix %}{{ noticia.foto }}" alt="{{ noticia.titulo|truncatechars:40 }}">
                        <div class="carousel-caption d-none d-md-block">
                            <h1 class="display-4">{{ noticia.titulo|truncatechars:40 }}</h1>
                            <p>{{ noticia.descripcion|truncatechars:40 }}</p>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>

    <!-- Contenido -->
    <br><br>
    <section class="container">
        <div class="row text-center">
            {% for noticia in noticias %}
                {% if noticia.estado == 'Público'%}
                    <div class="col-md-4">
                        <img src="{% get_media_prefix %}{{ noticia.foto }}" alt="{{ noticia.titulo }}" class="noticia-chica">
                        <h1>{{ noticia.titulo }}</h1>
                        <p>{{ noticia.descripcion|truncatechars:238 }}</p>
                        {% if request.user.is_superuser %}
                            <a href="#" data-toggle="modal" data-target="#editarNoticia" onclick="editarN('{{noticia.id}}','{{noticia.titulo}}','{{noticia.descripcion}}','{{noticia.estado}}','{{noticia.tag}}')"><span class="badge badge-info"> Editar</span></a>
                            <a href="Noticia/Borrar/{{ noticia.id }}" onclick="return confirm('¿Está seguro que desea borrar la noticia {{ noticia.titulo }}?')"><span class="badge badge-danger"> Borrar</span></a></p>                             
                        {% endif %}
                    </div>
                {% endif %}
            {% endfor %}
        </div>

        <hr id="divisor">

        <article class="row">
            {% for noticia in destacado %}
                {% if forloop.first %}
                    {% if noticia.estado == 'Público' %}
                        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 text-center">
                            <img src="{% get_media_prefix %}{{ noticia.foto }}" alt="{{ noticia.titulo }}" class="noticia-grande">
                        </div>
                        <br>
                        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
                            <h1 class="featurette-heading">{{ noticia.titulo }}</h1>
                            <hr>
                            <p class="lead">{{ noticia.descripcion|truncatechars:400 }}</p>
                        </div>
                        {% if request.user.is_superuser %}
                            <a href="#" data-toggle="modal" data-target="#editarNoticia" onclick="editarN('{{noticia.id}}','{{noticia.titulo}}','{{noticia.descripcion}}','{{noticia.estado}}','{{noticia.tag}}')"><span class="badge badge-info"> Editar</span></a>
                            <a href="Noticia/Borrar/{{ noticia.id }}" onclick="return confirm('¿Está seguro que desea borrar la noticia {{ noticia.titulo }}?')"><span class="badge badge-danger"> Borrar</span></a></p>                             
                        {% endif %}
                    {% endif %}
                {% endif %}
            {% endfor %}
        </article>

        <hr id="divisor">

        <footer class="row">
            <div class="col-md-11">
                © 2017-2018 Tiki, Inc. · <a href="#">Privacidad</a> · <a href="#">Terminos</a>
            </div>
            <div class="col-md-1">
                <a href="#">Subir</a>
            </div>
        </footer>
        <br><br><br><br>
    </section>

    {% if usuario is None %}
    <!-- Modal Login -->
    <div class="modal fade" id="inicioSesion" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Iniciar Sesión</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form method="POST" class="form-signin" action="{% url "loginIniciar" %}">
                        {% csrf_token %}
                        <label for="inputEmail"  class="sr-only">Correo</label>
                        <input type="email" id="inputEmail" name="email" class="form-control" placeholder="Correo" required autofocus><br>
                        <label for="inputPassword" class="sr-only">Contraseña</label>
                        <input type="password" name="contrasenia" id="inputPassword" class="form-control" placeholder="Contraseña" required><br>
                        <button class="btn btn-lg btn-primary btn-block" type="submit">Iniciar Sesión</button>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>
    {% endif %}

    {% if request.user.is_superuser %}
    <!-- Modal Agregar Noticia -->
    <div class="modal fade" id="agregarNoticia" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Agregar Noticia</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <!-- Formulario -->
                    <form action="{% url 'nuevaNoticia' %}" method="post" enctype="multipart/form-data" id="nuevaNoticia" id="nuevaNoticia">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="titulo">Título</label> 
                            <input type="text" class="form-control" id="titulo" name="titulo" placeholder="Título" required="required">
                        </div>
                        <div class="form-group">
                            <label for="descripcion">Descripción</label> 
                            <input type="text" class="form-control" id="descripcion" name="descripcion" placeholder="Descripción" required="required">
                        </div>
                        <div class="form-group">
                            <label for="tag">Tag</label> 
                            <select class="form-control" id="tag" name="tag" required="required">
                                <option value="Indefinido">Indefinido</option>
                                <option value="Carrousel">Carrousel</option>
                                <option value="Destacado">Destacado</option>
                                <option value="General">General</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="foto">Foto</label> 
                            <input type="file" class="form-control-file" id="foto" name="foto" required="required">
                        </div>
                        <br>
                        <input type="submit" class="btn btn-primary" value="Enviar">
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" data-dismiss="modal" class="btn btn-danger">Cerrar</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal Modificar Noticia -->
    <div class="modal fade" id="editarNoticia" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Modificar Palabra</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <!-- Formulario -->
                    <form action="Noticia/Editar/" method="post" id="editarNoticia" enctype="multipart/form-data">
                        {% csrf_token %}
                        <input type="hidden" class="form-control" id="editIdN" name="editIdN" placeholder="editIdN" required="required">
                        <div class="form-group">
                            <label for="editTituloN">Título</label> 
                            <input type="text" class="form-control" id="editTituloN" name="editTituloN" placeholder="Título" required="required">
                        </div>
                        <div class="form-group">
                            <label for="editDescripcionN">Descripción</label> 
                            <input type="text" class="form-control" id="editDescripcionN" name="editDescripcionN" placeholder="Definición" required="required">
                        </div>
                        <div class="form-group">
                            <label for="editEstadoN">Estado</label> 
                            <select class="form-control" id="editEstadoN" name="editEstadoN" required="required">
                                <option value="Pendiente">Pendiente</option>
                                <option value="Público">Público</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="editTagN">Tag</label> 
                            <select class="form-control" id="editTagN" name="editTagN" required="required">
                                <option value="Indefinido">Indefinido</option>
                                <option value="Carrousel">Carrousel</option>
                                <option value="Destacado">Destacado</option>
                                <option value="General">General</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="foto">Foto</label> 
                            <input type="file" class="form-control-file" id="editFoto" name="editFoto" required="required">
                        </div>
                        <br>
                        <input type="submit" class="btn btn-primary" value="Enviar">
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" data-dismiss="modal" class="btn btn-danger">Cerrar</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Botón flotante -->
    <a href="#" class="float" data-toggle="modal" data-target="#agregarNoticia">
        <i class="fa fa-plus my-float"></i>
    </a>
    {% endif %}

    <!-- Scripts -->
    <script src="{% static "js/jquery-3.3.1.js" %}"></script>
    <script src="{% static "js/jquery.validate.js" %}"></script>
    <script src="{% static "js/popper.js" %}"></script>
    <script src="{% static "js/bootstrap.js" %}"></script>
    <script src="{% static "js/app.js" %}"></script>
</body>
</html>