<!DOCTYPE html>
<html lang="es-CL">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% load static %}
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">  
    <link rel="stylesheet" href="{% static "css/bootstrap.css" %}" type="text/css">
    <link rel="stylesheet" href="{% static "css/estilo.css" %}" type="text/css">
    <title>Tiki : Pendientes</title>
</head>
<body>
    <!-- Navegación -->
    <nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light ">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="{% url "index" %}">
            <i class="far fa-comments fa-lg"></i>
            Tiki
        </a>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="{% url "index" %}">Inicio<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url "diccionario" %}">Diccionario</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url "frases" %}">Frases</a>
                </li>
                {% if request.user.is_superuser %}
                <li class="nav-item active">
                    <a class="nav-link" href="{% url "pendientes" %}">Pendientes <span class="badge badge-danger">{{ contador }}</span></a>
                </li>
                {% endif %}
                {% if usuario is None %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url "registro" %}">Registro</a>
                </li>
                {% endif %}
                {% if usuario is not None %}
                <li class="nav-item" id="credenciales">
                    <a class="nav-link disabled">Bienvenido {{usuario}}</a>
                </li>
                <li class="nav-item" id="credenciales">
                    <a class="nav-link" href="{% url "cerrarSession" %}">Cerrar sesión</a>
                </li>
                {% else %} 
                <li class="nav-item" id="credenciales">
                    <a class="nav-link" href=# data-toggle="modal" data-target="#inicioSesion">Iniciar sesión</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </nav>
    <br><br><br>
    <section class="container">
    {% if request.user.is_superuser %}
        <h3>Noticias Pendientes</h1>
        <br>
        {% for noticia in noticias %}
            {% if noticia.estado == 'Pendiente' %}
                <h4>{{ noticia.titulo }}</h4>
                <p>{{ noticia.descripcion }}</p>
                <a href="Noticia/Publicar/{{ noticia.id }}" onclick="return confirm('¿Está seguro que desea publicar la noticia {{ noticia.titulo }}?')"><span class="badge badge-success"> Publicar</span></a>
                <a href="#" data-toggle="modal" data-target="#editarNoticia" onclick="editarN('{{noticia.id}}','{{noticia.titulo}}','{{noticia.descripcion}}','{{noticia.estado}}','{{noticia.tag}}')"><span class="badge badge-info"> Editar</span></a>
                <a href="Noticia/Borrar/{{ noticia.id }}" onclick="return confirm('¿Está seguro que desea borrar la noticia {{ noticia.titulo }}?')"><span class="badge badge-danger"> Borrar</span></a></p>                             
                <hr>
            {% endif %}
        {% endfor %}

        <h3>Palabras Pendientes</h1>
        <br>
        {% for palabra in diccionario %}
            {% if palabra.estado == 'Pendiente' %}
                <h4>{{ palabra.titulo }}</h4>
                <p>{{ palabra.descripcion }}</p>
                <a href="Diccionario/Publicar/{{ palabra.id }}" onclick="return confirm('¿Está seguro que desea publicar la palabra {{ palabra.titulo }}?')"><span class="badge badge-success"> Publicar</span></a>
                <a href="#" data-toggle="modal" data-target="#editarPalabra" onclick="editar('{{palabra.id}}','{{palabra.titulo}}','{{palabra.descripcion}}','{{palabra.estado}}')"><span class="badge badge-info"> Editar</span></a>
                <a href="Diccionario/Borrar/{{ palabra.id }}" onclick="return confirm('¿Está seguro que desea borrar la palabra {{ palabra.titulo }}?')"><span class="badge badge-danger"> Borrar</span></a></p>                             
                <hr>
            {% endif %}
        {% endfor %}

        <h3>Frases Pendientes</h1>
        <br>
        {% for frase in frases %}
            {% if frase.estado == 'Pendiente' %}
                <h4>{{ frase.titulo }}</h4>
                <p>{{ frase.descripcion }}</p>
                <a href="Frases/Publicar/{{ frase.id }}" onclick="return confirm('¿Está seguro que desea publicar la frase {{ frase.titulo }}?')"><span class="badge badge-success"> Publicar</span></a>
                <a href="#" data-toggle="modal" data-target="#editarFrase" onclick="editarF('{{frase.id}}','{{frase.titulo}}','{{frase.descripcion}}','{{frase.estado}}')"><span class="badge badge-info"> Editar</span></a>
                <a href="Frases/Borrar/{{ frase.id }}" onclick="return confirm('¿Está seguro que desea borrar la frase {{ frase.titulo }}?')"><span class="badge badge-danger"> Borrar</span></a></p>                             
                <hr>
            {% endif %}
        {% endfor %}
    </section>
    
    <hr id="divisor">

    <footer class="row">
        <div class="col-md-11">
            © 2017-2018 Tiki, Inc. · <a href="#">Privacidad</a> · <a href="#">Terminos</a>
        </div>
        <div class="col-md-1">
            <a href="#">Subir</a>
        </div>
    </footer>
    <br><br><br><br>
    {% endif %}
    </section>

    {% if usuario is None %}
    <!-- Modal Login -->
    <div class="modal fade" id="inicioSesion" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Iniciar Sesión</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form method="POST" class="form-signin" action="{% url "loginIniciar" %}">
                        {% csrf_token %}
                        <label for="email"  class="sr-only">Correo</label>
                        <input type="email" id="email" name="email" class="form-control" placeholder="Correo" required autofocus><br>
                        <label for="inputPassword" class="sr-only">Contraseña</label>
                        <input type="password" name="contrasenia" id="inputPassword" class="form-control" placeholder="Contraseña" required><br>
                        <button class="btn btn-lg btn-primary btn-block" type="submit">Iniciar Sesión</button>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>
    {% endif %}

    {% if request.user.is_superuser %}
        <!-- Modal Modificar Palabra -->
        <div class="modal fade" id="editarPalabra" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Modificar Palabra</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <!-- Formulario -->
                        <form action="Diccionario/Editar/" method="post" id="editarPalabra">
                            {% csrf_token %}
                            <input type="hidden" class="form-control" id="editId" name="editId" placeholder="editId" required="required">
                            <div class="form-group">
                                <label for="editTitulo">Título</label> 
                                <input type="text" class="form-control" id="editTitulo" name="editTitulo" placeholder="Título" required="required">
                            </div>
                            <div class="form-group">
                                <label for="editDescripcion">Descripción</label> 
                                <input type="text" class="form-control" id="editDescripcion" name="editDescripcion" placeholder="Definición" required="required">
                            </div>
                            <div class="form-group">
                                <label for="editEstado">Estado</label> 
                                <select class="form-control" id="editEstado" name="editEstado" required="required">
                                    <option value="Pendiente">Pendiente</option>
                                    <option value="Público">Público</option>
                                </select>
                            </div>
                            <br>
                            <input type="submit" class="btn btn-primary" value="Enviar">
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" data-dismiss="modal" class="btn btn-danger">Cerrar</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Modal Modificar Frase -->
        <div class="modal fade" id="editarFrase" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Modificar Frase</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <!-- Formulario -->
                        <form action="Frases/Editar/" method="post" id="editarFrase">
                            {% csrf_token %}
                            <input type="hidden" class="form-control" id="editIdF" name="editIdF" placeholder="editIdF" required="required">
                            <div class="form-group">
                                <label for="editTituloF">Título</label> 
                                <input type="text" class="form-control" id="editTituloF" name="editTituloF" placeholder="Título" required="required">
                            </div>
                            <div class="form-group">
                                <label for="editDescripcionF">Descripción</label> 
                                <input type="text" class="form-control" id="editDescripcionF" name="editDescripcionF" placeholder="Definición" required="required">
                            </div>
                            <div class="form-group">
                                <label for="editEstadoF">Estado</label> 
                                <select class="form-control" id="editEstadoF" name="editEstadoF" required="required">
                                    <option value="Pendiente">Pendiente</option>
                                    <option value="Público">Público</option>
                                </select>
                            </div>
                            <br>
                            <input type="submit" class="btn btn-primary" value="Enviar">
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" data-dismiss="modal" class="btn btn-danger">Cerrar</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Modal Modificar Noticia -->
        <div class="modal fade" id="editarNoticia" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Modificar Noticia</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <!-- Formulario -->
                        <form action="Noticia/Editar/" method="post" id="editarNoticia" enctype="multipart/form-data">
                            {% csrf_token %}
                            <input type="hidden" class="form-control" id="editIdN" name="editIdN" placeholder="editIdN" required="required">
                            <div class="form-group">
                                <label for="editTituloN">Título</label> 
                                <input type="text" class="form-control" id="editTituloN" name="editTituloN" placeholder="Título" required="required">
                            </div>
                            <div class="form-group">
                                <label for="editDescripcionN">Descripción</label> 
                                <input type="text" class="form-control" id="editDescripcionN" name="editDescripcionN" placeholder="Descripción" required="required">
                            </div>
                            <div class="form-group">
                                <label for="editEstadoN">Estado</label> 
                                <select class="form-control" id="editEstadoN" name="editEstadoN" required="required">
                                    <option value="Pendiente">Pendiente</option>
                                    <option value="Público">Público</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="editTagN">Tag</label> 
                                <select class="form-control" id="editTagN" name="editTagN" required="required">
                                    <option value="Indefinido">Indefinido</option>
                                    <option value="Carrousel">Carrousel</option>
                                    <option value="Destacado">Destacado</option>
                                    <option value="General">General</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="editFoto">Foto</label> 
                                <input type="file" class="form-control-file" id="editFoto" name="editFoto" required="required">
                            </div>
                            <br>
                            <input type="submit" class="btn btn-primary" value="Enviar">
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" data-dismiss="modal" class="btn btn-danger">Cerrar</button>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}

    <!-- Scripts -->
    <script src="{% static "js/jquery-3.3.1.js" %}"></script>
    <script src="{% static "js/jquery.validate.js" %}"></script>
    <script src="{% static "js/popper.js" %}"></script>
    <script src="{% static "js/bootstrap.js" %}"></script>
    <script src="{% static "js/app.js" %}"></script>
</body>
</html>