<!DOCTYPE html>
<html lang="es-CL">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% load static %}
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">  
    <link rel="stylesheet" href="{% static "css/bootstrap.css" %}" type="text/css">
    <link rel="stylesheet" href="{% static "css/estilo.css" %}" type="text/css">
    <title>Tiki : Registro</title>
</head>
<body>
    <!-- Navegación -->
    <nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light ">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="{% url "index" %}">
            <i class="far fa-comments fa-lg"></i>
            Tiki
        </a>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="{% url "index" %}">Inicio<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url "diccionario" %}">Diccionario</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url "frases" %}">Frases</a>
                </li>
                {% if request.user.is_superuser %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url "pendientes" %}">Pendientes <span class="badge badge-danger">{{ contador }}</span></a>
                </li>
                {% endif %}
                {% if usuario is None %}
                <li class="nav-item active">
                    <a class="nav-link" href="{% url "registro" %}">Registro</a>
                </li>
                {% endif %}
                {% if usuario is not None %}
                <li class="nav-item" id="credenciales">
                    <a class="nav-link disabled">Bienvenido {{usuario}}</a>
                </li>
                <li class="nav-item" id="credenciales">
                    <a class="nav-link" href="{% url "cerrarSession" %}">Cerrar sesión</a>
                </li>
                {% else %} 
                <li class="nav-item" id="credenciales">
                    <a class="nav-link" href=# data-toggle="modal" data-target="#inicioSesion">Iniciar sesión</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </nav>

    <br><br><br>
    <section class="container">
        <div class="row" id="registro">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <form action="{% url 'crear' %}" method="POST" id="formulario">
                    {% csrf_token %}
                    <fieldset>
                        <legend>Nuevo Usuario</legend>
                        <div class="form-group">
                            <label for="email">Correo</label>
                            <input type="email" class="form-control" id="email" name="email" aria-describedby="emailHelp" placeholder="Ingrese su dirección de correo electrónico">
                            <small id="emailHelp" class="form-text text-muted">Nunca compartiremos tu información con nadie.</small>
                        </div>
                        <div class="form-group">
                            <label for="contrasena">Contraseña</label>
                            <input type="password" class="form-control" id="contrasena" placeholder="Contraseña">
                        </div>
                        <div class="form-group">
                            <label for="cpassword">Confirme su contraseña:</label>
                            <input type="password" class="form-control" name="cpassword" id="cpassword" placeholder="Confirme su contraseña">
                        </div>
                        <button type="submit" class="btn btn-primary">Registrar</button>
                    </fieldset>
                </form>
            </div>
        </div>
    
        <hr id="divisor">

        <footer class="row">
            <div class="col-md-11">
                © 2017-2018 Tiki, Inc. · <a href="#">Privacidad</a> · <a href="#">Terminos</a>
            </div>
            <div class="col-md-1">
                <a href="#">Subir</a>
            </div>
        </footer>
        <br><br><br><br>
    </section>

    {% if usuario is None %}
    <!-- Modal Login -->
    <div class="modal fade" id="inicioSesion" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Iniciar Sesión</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form method="POST" class="form-signin" action="{% url "loginIniciar" %}">
                        {% csrf_token %}
                        <label for="email"  class="sr-only">Correo</label>
                        <input type="email" id="email" name="email" class="form-control" placeholder="Correo" required autofocus><br>
                        <label for="inputPassword" class="sr-only">Contraseña</label>
                        <input type="password" name="contrasenia" id="inputPassword" class="form-control" placeholder="Contraseña" required><br>
                        <button class="btn btn-lg btn-primary btn-block" type="submit">Iniciar Sesión</button>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>
    {% endif %}

    <!-- Scripts -->
    <script src="{% static "js/jquery-3.3.1.js" %}"></script>
    <script src="{% static "js/jquery.validate.js" %}"></script>
    <script src="{% static "js/popper.js" %}"></script>
    <script src="{% static "js/bootstrap.js" %}"></script>
    <script src="{% static "js/app.js" %}"></script>
</body>
</html>