/* Logo */
#pepper{
    width: 100%;
    max-width: 300px;
    min-width: 300px;
}

/* Carrousel */
.slider-fix{
    max-height: 500px;
    min-height: 500px;
    object-fit: cover;
}
.carousel-caption{
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 100px;
}

/* Otros */
hr{
    width: 20%;
    margin: 40px 0;
    margin-right: 80%;
}

#divisor{
    width: 100%;
    margin: 100px 0;
}

/* Botón flotante */
.float{
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;
	background-color:#0C9;
	color:#FFF;
	border-radius:50px;
	text-align:center;
    box-shadow: 2px 2px 3px #999;
}

.my-float{
    margin-top:22px;
}

/* Noticias */
.noticia-chica{
    max-height: 250px;
    min-height: 250px;
    max-width: 250px;
    min-width: 250px;
    object-fit: cover;
}
.noticia-grande{
    max-height: 350px;
    min-height: 350px;
    max-width: 100%;
    min-width: 100%;
    object-fit: cover;
}